body {
 	margin:0;
 	padding:0;
 	overflow: hidden;
  font-family: 'Kanit'
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:78%;
  /*height: 95%;*/
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

#facet {
	background-color: #FAFAFA;
	width: 22%;
	position: absolute;
	right: 0;
	height: 100%;
	color: black;
  border-left: solid 0.8px #EBEBEB;
}

#month-day{
    font-size: 24px;
    text-align: center;
}
#time{
    text-align: center;
    font-size: 40px;
}

ul{
  overflow-y: scroll;
  height: 600px;
}
li{
    border-bottom:0.5px solid #9E9E9E;
}

#notification{
	/*margin-top: 30%;*/
}



/*Copy from bootstrap */

/* yellow tone */
.label-construction {
  background-color: #FFFF00;
  color: black;
}
.label-traffy-yellow{
  background-color: #FFEA00;
  color: black;
}
.label-traffy-close{
  background-color: #FFD600;
  color: black;
}
.label-beware{
  background-color: #FFAB00;
  color: black;
}
.label-avoid{
  background-color: #FFC400;
  color: black;
}


/* gren tone */
.label-traffy-green{
  background-color: #00E676;
}




/* red tone */
.label-traffy-orange{
  background-color: #FF5722;
}
.label-traffy-red{
  background-color: #F4511E;
}
.label-fire{
  background-color: #E64A19;
}
.label-car-broke{
  background-color: #D84315;
}
.label-accident{
  background-color: #BF360C;
}



/* blue tone */
.label-flood{
  background-color: #00B0FF;
}
.label-rain{
  background-color: #0091EA;
}
.label{
  color: #242424;
}


span.label{
  text-align: left;
}
span.noty_text{
  font-size: 14px;
  color: #757575;
  text-align: left;
}
#noty_bottomCenter_layout_container span.noty_text{
  color: #757575;
}
span.noty_text div p{
  padding-left: 10px;
  padding-right: 10px;
}

.label{
  display: table;
  font-size: 15px;
  margin-left: 8px;
}

.new_item{
  border: solid 1px white;
}


.timestamp{
  display: inline;
}
.col-sm-8{
  float: right;
  text-align: right;
}

img.icon{
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: 20%;
}
img.spacing{
  width: 25px;
  height: 25px;
  position: absolute;
  height: 0;
}
.static img{
  width: 25px;
  height: 25px;
  margin-right: 1%;
}

.statistics{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25px;
}
.icon-marker{
  width: 16px;
  height: 16px;
}

/* go to top */
.back-to-home {
background: none;
margin-right: 22%;
margin-bottom: 20%;
position: fixed;
bottom: 0;
right: 0;
width: 60px;
height: 60px;
z-index: 100;
}
/* END go to top */

.badge{
  position: absolute;
  right: 0;
  /*margin-right: 25px;*/
}

.zoom{
  font-size: 0em;
  animation: blink-animation 0.8s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    font-size: 7em;
    opacity: 1;
  }
}

input[type='checkbox']{
  margin-right: 2px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #1F1E1D;
  z-index: 1;
}

div.logo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #FF9304;
  font-size: 20px;
}
div.logo a{
  color: #FF9304;
  font-size: 20px;
}
.logo img{
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
}

div.logo-bottom{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  color: #FF9304;
  font-size: 20px;
}
.logo-bottom img{
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.show{
  display: inline;
}
.hide{
  display: none;
}

#noty_bottomCenter_layout_container{
  overflow:hidden;
  left :470px !important;
  bottom: 200px !important;
}

span.highlight{
  color:red;
  background-color: blue;
}


.traffy{
	background-color: #FF9800;
}
.accident{
	background-color: #F44336;
}
.weather{
	background-color: #2196F3;
}
.bus{
	background-color: #FFEB3B;
}

.statistics .col-sm-5{
	width: 46.666667%;
	border-radius:5%;
}

::-webkit-scrollbar {
    width: 20px;
}


.building{
  color: #795548;
}
.car-green{
  color: #4CAF50;
}
.car-yellow{
  color: #FFEB3B;
}
.car-orange{
  color: #FF9800;
}
.car-red{
  color: #F44336;
}
.fa-times{
  color: #E91E63;
}
.fa-tint{
  color: #3F51B5;
}
.fa-cloud{
  color: #2196F3;
}
.fa-fire{
  color: #DD2C00;
}
.car-broke{
  color: #673AB7;
}
.fa-exclamation-circle{
  color: #DD2C00;
}
.fa-exclamation-triangle{
  color: #DD2C00;
}
.fa-minus-circle{
  color: #DD2C00;
}
.bus-green{
  color: #4CAF50;
}
.bus-yellow{
  color: #FFEB3B;
}
.bus-orange{
  color: #FF9800;
}
.bus-red{
  color: #F44336;
}
.bus-red2{
  color: #FF5722;
}
.fa-dot-circle-o{
  color: #8D6E63;
}

i.fa-mapbox{
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
.i-box{
  width: 70px;
  height: 70px
}